/* Menubar style */
body{
    margin: 0;
    padding: 0;
}

.menu-bar{
    background: blanchedalmond;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    box-shadow: 3px 3px 5px 2px gray;
    position: sticky;
    top: 0;
    z-index: 100;
}

.menu-links{
    display: inline;
    justify-content: center;
}

.menu-links a{
    text-decoration: none;
}

/*Opening*/

.opening-image{
    text-align: center;
}

.img-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.BR{
    background-color: black !important;
    color: white !important;
    padding: 8px 14px;
    opacity: 0.8;
}

/*Projects*/

.first-line, .second-line{
    display: flex;
    justify-content: center;
}

.first-line img, .second-line img{
    width: 350px;
}

.first-img-info, .second-img-info{
    position: absolute;
    background-color: black;
    color: #fff;
    padding: 8px 16px !important;
}

/*About*/
.our-team{
    display: flex;
    justify-content: center;
}

.our-team img{
    width: 100%;
}

.card{
    max-width: 340px;
    margin: 10px;
}

/*Contact*/



/*Footer*/

.last-img{
    text-align: center;
}